---
title: Installing Observability Data Store for PCF
owner: Primus
---

This topic describes how to install and configure Observability Data Store for Pivotal Cloud Foundry (PCF). For a list of compatible Ops Manager, Pivotal Application Service (PAS)  and Pivotal Container Service (PKS) versions, see [Product Snapshot](index.html#snapshot).

##<a id='install'></a> Install Observability Data Store for PCF

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/observability_datastore_pcf).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of Observability Data Store for PCF.
This adds the tile to your staging area.

##<a id='configure'></a> Configure Observability Data Store for PCF

To start using Observability Data Store for PCF, you need to configure the Observability Data Store for PCF tile.

### <a id='observability-data-store-tile'></a> Configure the Observability Data Store for PCF Tile

To configure the Observability Data Store for PCF tile, perform the following steps:

1. Click the **Observability Data Store for PCF** tile on the Ops Manager Installation Dashboard.
1. Navigate to **Assign AZs and Networks** and do the following:
    1. Select an Availability Zone (AZ) for placing singleton jobs.
    1. Select one or more AZs for balancing other jobs.

		<p class="note"><strong>Note</strong>: To create a highly available environment, Pivotal recommends selecting multiple AZs.</p>

    1. Select **Network** for installing Observability Data Store for PCF.
    1. Click **Save**.

1. Navigate to **Prometheus Configuration** and do the following:
    1. Optional: Modify the **Scrape Interval** as desired. This controls the frequency at which Prometheus scrapes its targets for metrics.
    1. Ensure that **Integrate with PAS** is set as appropriate. It should be enabled if PAS is *already* installed on the foundation.

1. Navigate to **Telegraf Configuration** and do the following:
    1. Optional: Modify the **Scrape Port** as desired. This controls the port on which Telegraf exposes metrics. It should only be changed if that port is already in use by other components on the VM.

1. Navigate to **Errands** and do the following:
    1. Optional: Enable or disable the **Smoke Tests** errand. This errand verifies that the tile is functioning correctly, and ideally should not be disabled.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**.
