---
title: Reliability View for PCF Resources
owner: Reliability View for PCF
---

This topic describes resource requirements for Reliability View for Pivotal Cloud Foundry (PCF).

##<a id="requirements"></a>Reliability View for PCF Tile

You can configure resources in the **Resource Config** section of the Reliability View for PCF tile. By default, Reliability View for PCF automatically selects the instance type that is best suited for each job.

<p class="note"><strong>Note</strong>: The automatically selected values that you see in the <strong>Resource Config</strong> section of the Reliability View for PCF tile depend on the available resources for your PCF deployment.</p>

The following table provides the default resource and IP requirements for installing the Reliability View for PCF tile.

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Resource</th>
    <th>Instances</th>
    <th>CPUs</th>
    <th>RAM</th>
    <th>Ephemeral Disk</th>
    <th>Persistent Disk</th>
    <th>Static IP</th>
    <th>Dynamic IP</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Primus Data</td>
    <td>1</td>
    <td>4</td>
    <td>16&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>512&nbsp;GB</td>
    <td>0</td>
    <td>1</td>
  </tr>
  <tr>
    <td>MySQL Proxy</td>
    <td>1</td>
    <td>1</td>
    <td>4&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>0</td>
    <td>1</td>
  </tr>
  <tr>
    <td>MySQL</td>
    <td>1</td>
    <td>1</td>
    <td>4&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>10&nbsp;GB</td>
    <td>0</td>
    <td>1</td>
  </tr>
  <tr>
    <td>Grafana</td>
    <td>1</td>
    <td>1</td>
    <td>4&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>5&nbsp;GB</td>
    <td>0</td>
    <td>1</td>
  </tr>
  </tbody>
</table>
